.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}

.smallCardsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.smallCard {
  border-radius: 16px;
  padding: 16px;
  flex: 1;
}
.smallCardTitle {
  font-size: 16px;
  font-weight: 600;
}
.smallCardSubTitle {
  font-size: 24px;
  font-weight: 600;
}

.description{
    font-size: 14px;
    font-weight: 500;
}
