.mainContainer{
    display: flex;
    justify-content: start;
    margin: 20px;
}
.mainContent{
    width: 100%;
    overflow-x: hidden;
}

.cardContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
}
.dealContainer{
    display: flex;
    justify-content:start;
    flex-wrap: wrap;
}